http:
  routers:
{{range $service := .Services}}
    {{$service.Name}}-router:
      rule: "Host(`{{$service.Domain}}`)"
      entryPoints:
        - "websecure"
      service: "{{$service.Name}}-service"
      tls:
        certResolver: "myresolver"
{{end}}

  services:
{{range $service := .Services}}
    {{$service.Name}}-service:
      loadBalancer:
        servers:
          {{$found := false}}
          {{range $.Peers}}
            {{if eq .Name $service.PeerName}}
          - url: "http://{{.WGIp}}:{{$service.Port}}"
              {{$found = true}}
            {{end}}
          {{end}}
{{end}}
