[Interface]
Address = {{.Peer.WGIp}}/24
PrivateKey = {{.Peer.PrivateKey}}

[Peer]
PublicKey = {{.VPS.PublicKey}}
Endpoint = {{.VPS.IP}}:{{.VPS.WGPort}}
AllowedIPs = {{.VPS.WGIp}}/32
PersistentKeepalive = {{.Peer.Keepalive}}
