[Interface]
Address = {{.VPS.WGIp}}/24
ListenPort = 51820
PrivateKey = {{.VPS.PrivateKey}}

{{range .Peers}}
# Peer: {{.Name}}
[Peer]
PublicKey = {{.PublicKey}}
AllowedIPs = {{.WGIp}}/32
PersistentKeepalive = {{.Keepalive}}
{{end}}
